@media screen and (max-width: 480px){

        .login_modal{
          padding: 30px;  
        }
        .login_modal.active{
            width: 90vw;
        }
        .login_modal .login_area{
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            padding-bottom: 10px;
        }

        .login_area .text_block h2{
            font-size: 18px;
        }
        .login_data h5,#sns_id h5{
            word-break: keep-all;
        }
        .media_modal_tablet .modal_top{
            margin-bottom: 30px;
        }
}